.preview {
    flex: 1;
    border-left: 2px solid var(--color-gray-400);

    > div {
        padding: .5rem .9rem;
        background-color: var(--color-gray-800);

        h1 {
            font-weight: 500;

            font-family: 'JetBrains Mono', monospace;
            font-size: .9rem;
            color: var(--color-gray-400);
        }
    }
}