@import '../../style/utils/mixins.scss';

.header {
    &__bottom {
        background-color: var(--color-gray-700);
        padding: 0 5% 0 0;
        display: flex;
        align-items: center;

        > button {
            height: 4rem;
            width: 4rem;
            background-color: var(--color-gray-600);
            border: 0;
            color: var(--color-gray-light);
            margin-right: 2rem;
        }

        &_name {
            span {
                display: block;
                margin-bottom: .1rem;
                font-size: .9rem;
                color: var(--color-gray-400);
            }

            input {
                font-size: 1.2rem;
                border: 0;
                background-color: var(--color-gray-700);
                color: var(--color-gray-light);
                border-bottom: 1px solid var(--color-gray-light);
                padding: 0 0 .2rem;
                outline: none;
            }

        }
        &_action {
            margin-left: auto;
            display: flex;
            align-items: center;
            
            button:first-child {
                height: 4rem;
                width: 4rem;
                background-color: var(--color-gray-700);
                border: 0;
                color: var(--color-gray-light);
                margin-right: 1rem;
            }

            button:last-child {
                @include btn;
                background-color: var(--color-cyan-400);
                font-size: 1rem;
                color: var(--color-gray-light);
            }
        }
    }
}