@import '../../style/utils/mixins.scss';

.header {
    background-color: var(--color-gray-700);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 1rem;
    width: calc(100% - 4rem);
    margin-left: auto;

    .title {
        font-family: 'JetBrains Mono', monospace;
        letter-spacing: 4px;
        border-right: 1px solid var(--color-gray-400);
        padding-right: 1rem;
    }

    .documentName {
        display: flex;
        align-items: center;
        gap: .5rem;

        
        input {
            border: 0;
            outline: 0;
            background-color: transparent;
            color: var(--white);
            font-weight: 600;
            padding: .2rem;
            transition: .2s;
            overflow: hidden;
            position: relative;

            &:focus{
                border-bottom: 1px solid var(--color-primary-400);
            }
        }
        
    }

    
    .btns {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        
        button {
            border: 0;
            outline: 0;
            padding: .5rem 1rem;
            border-radius: 5px;
            color: var(--white);
            font-weight: 600;
            font-size: .9rem;
            background-color: transparent;
        }
        
        .btnSave {
            background-color: var(--color-primary-400);
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .userContainer {
            position: relative;

            .dropdownUser {
                display: none;
            }
            
            .dropdownUser.active {
                display: block;
                padding: .5rem .5rem 1rem;
                width: 20rem;
                // width: 100%;
                position: absolute;
                top: 4rem;
                right: 0;
                background-color: var(--color-gray-700);
                box-shadow: 0 0 20px rgba($color: #000000, $alpha: .1);
                border-radius: 5px;
                ul {
                    list-style: none;  
                    text-align: center;
                    
                    span {
                        display: inline-block;
                        padding: .5rem 0;
                    }
    
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        width: 100%;
                        background-color: #E53E3E;
                    }
                }
            }

        }

    }

    .user {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-right: 1rem;
        background-color: transparent;
        border-radius: 100%;
    
        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100px;
            object-fit: cover;
        }
    
    }
    .user:hover {
        background-color: var(--color-gray-700);
    }
}

@media (max-width: 1000px) {
    .header {
        .btns {
            button span,button h3{
                display: none;
            }
        }

        .title {
            display: none;
        }
    }
}