@import '../style/utils/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

html {
    overflow: hidden;
}

:root {
    --white: #fff;

    --color-gray-light: #eaeaea; 
    --color-gray-400: #A0AEC0;
    --color-gray-600: #4A5568;
    --color-gray-700: #2D3748;
    --color-gray-800: #1A202C;
    --color-gray-900: #171923;

    --color-primary-200: #9DECF9;
    --color-primary-400: #4299E1;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: .2s;
}

button:hover {
    filter: brightness(.8);
}

body {
    color: var(--color-gray-light);
    background-color: var(--color-gray-900);
}

body, button, input, textarea {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

// body {
//     background:#12121a;
//     display: grid;
//     place-items: center;
//     min-height:100vh;
//   }
  
//   button {
//     cursor: pointer;
//     background: #fff;
//     font-size: 0;
//     border: 0;
//     width: 50px;
//     height: 50px;
//     border-radius: 100%;
//     position: relative;
//   }
  
//   button::after {
//     transition: .2s;
//     opacity: 0;
//     content: attr(data-descr);
//     position: absolute;
//     left:-50%;
//     bottom:-30px;
//     display: flex;
//   /*   width: 50px; */
//     padding: 0.7rem 2rem;
//     background: #000;
//     font-size: 15px;
//     color: #fff;
//     border-radius: 5px;
//     left: 
//   }
  
//   button:hover::after {
//       opacity: 1;
//       bottom:-45px;
//   }

.react-modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-modal-content {
    background-color: var(--color-gray-light);
    min-width: 200px;
    padding: 1rem;
    border-radius: 5px;
    position: relative;

    color: var(--color-gray-900);

    .closeModal {
        @include btn;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--color-gray-900);
    }
}