@import '../utils/mixins.scss';

.home {
    display: flex;
    overflow-y: hidden !important;

    main {
        flex: 1;
        
        .wrapper {
            display: flex;
            
            .btnToggleView {
                @include btn;
                position: absolute;
                right: 0;
                padding: 0.5rem 1rem;
                background-color: transparent;
                display: none;
            }
        }
    }
}

@media (max-width: 1000px) {
    .wrapper {
        .btnToggleView {
            display: block !important;
        }
    }

    section:not(:last-child) {
        display: block;
        width: 100%;
    }
    section:last-child {
        display: none;
    }

    .wrapper.previewOpen {
        section:not(:last-child) {
            display: none ;
        }
        section:last-child {
            display: block;
            border: 0;
        }
    }
    
}